* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #daf9d3 0%, #c3eb84 100%, #00d4ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.imagenes_carrusel {
  width: 400px;
  height: 345px;
  padding: 10px;
}

footer {
  margin-top: auto;
}

a {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: darkolivegreen;
  font-style: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

header .img_header_tamanio {
  width: 250px;
  height: auto;
}

header .nav_lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .nav_lista li {
  margin: 19px;
  border-radius: 11pc;
  border: solid 1px;
  padding: 10px;
  -webkit-box-shadow: 1px 3px 3px grey;
          box-shadow: 1px 3px 3px grey;
}

header .nav_lista li:hover {
  background-color: rgba(148, 233, 148, 0.986);
}

@media screen and (max-width: 768px) {
  .header_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_lista {
    width: 100%;
  }
  .nav_lista li {
    margin: 0px;
  }
}

@media screen and (max-width: 480px) {
  .header_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_lista {
    width: 100%;
  }
  .nav_lista li {
    margin: 0px;
  }
}

.galeria_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 15vh;
      grid-template-rows: 15vh;
      grid-template-areas: "titulo_area" "habitaciones_area" "espaciosComunes_area" "abuelos_area" "festejos_area";
}

.galeria_grid .titulo_galeria {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo_area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkolivegreen;
}

.galeria_grid .habitaciones {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: habitaciones_area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkolivegreen;
}

.galeria_grid .habitaciones .img_habitaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galeria_grid .habitaciones .img_habitaciones .img_habitaciones1 {
  margin: 1em;
}

.galeria_grid .espacios_comunes {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: espaciosComunes_area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: darkolivegreen;
}

.galeria_grid .espacios_comunes .img_Ecomunes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.galeria_grid .espacios_comunes .img_Ecomunes .img_Ecomunes_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
}

.galeria_grid .pacientes {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: abuelos_area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkolivegreen;
}

.galeria_grid .pacientes .img_Pacientes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.galeria_grid .festejos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: festejos_area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkolivegreen;
}

.galeria_grid .festejos .img_festejos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.imagenes_galeria {
  max-width: 500px;
  height: 335px;
}

.imagenes_galeria:hover {
  width: 600px;
  height: 394px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

h3 {
  margin: 50px 10px 10px;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 3rem;
}

footer .redes li {
  margin: 19px;
  border-radius: 11pc;
  border: solid 1px;
  padding: 10px;
  -webkit-box-shadow: 1px 4px 4px grey;
          box-shadow: 1px 4px 4px grey;
}

footer .redes li:hover {
  background-color: rgba(148, 233, 148, 0.986);
}

@media screen and (max-width: 768px) {
  footer .redes {
    gap: 0rem;
  }
  footer .redes li {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  footer .redes {
    gap: 0rem;
  }
  footer .redes li {
    margin: 5px;
  }
}

main .titulo_ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: darkolivegreen;
  font-style: bold;
}

main .mapa_ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.principal_informacion .imagen_glorieta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  overflow: hidden;
}

.principal_informacion .imagen_glorieta img {
  border-radius: 60px;
}

.principal_informacion .descripcion_card {
  background-color: aliceblue;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  -webkit-box-shadow: 7px 13px 37px gray;
          box-shadow: 7px 13px 37px gray;
  overflow: hidden;
  margin: 20px;
  padding: auto;
}

@media screen and (max-width: 768px) {
  .imagen_glorieta {
    position: relative;
    padding: 0rem;
  }
  .imagen_glorieta img {
    border-radius: 60px;
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .imagen_glorieta {
    position: relative;
    padding: 0rem;
  }
  .imagen_glorieta img {
    border-radius: 60px;
    width: 100%;
    position: relative;
  }
}

.principal_formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal_formulario p {
  margin: 2rem;
  font-size: large;
  font-weight: bold;
  color: darkolivegreen;
}

.principal_formulario .formulario_contacto {
  background-color: aliceblue;
  width: 400px;
  -webkit-box-shadow: 7px 13px 37px gray;
          box-shadow: 7px 13px 37px gray;
  overflow: hidden;
  padding: 10px;
}

.principal_formulario .formulario_contacto .contacto label, .principal_formulario .formulario_contacto input, .principal_formulario .formulario_contacto textarea {
  width: 100%;
  margin-bottom: 7px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .principal_formulario {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .principal_formulario {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */