.container_formulario{
            display: flex;
          
            p{ font: size 150px;
                font-weight: bold;
                color:olivedrab;
                align-items: center;
                justify-content: flex-start;
            }
            
         .formulario_contacto{
            background-color: aliceblue; 
            width: 400px; 
            box-shadow: 7px 13px 37px gray; 
            overflow: hidden; 
            padding: 10px;
            
            .contacto label,input,textarea {
                 width: 100%;
                 margin-bottom:7px;
                 font-weight: bold;
                
            }
        }

}