.principal_formulario{
    display: flex;
    justify-content:center;
    align-items: center;

      p{
       margin: 2rem;
       font-size: large;
       font-weight: bold;
       color: darkolivegreen;
      }
            
            
    .formulario_contacto{
      background-color: aliceblue; 
      width: 400px; 
      box-shadow: 7px 13px 37px gray; 
      overflow: hidden; 
      padding: 10px;
            
            .contacto label,input,textarea {
                 width: 100%;
                 margin-bottom:7px;
                 font-weight: bold;

                
            }
        }

}
@media screen and (max-width: 768px){
   .principal_formulario{
      width: 100%;

   }

}

@media screen and (max-width: 480px){

   .principal_formulario{
      width: 100%;
      
   }
}