header {
    

        .img_header_tamanio {
            width: 250px;
            height:auto;
        }   

        .nav_lista { @include flex(flex,space-between,center);
            list-style: none;  
            
            li{
                margin: 19px;
                border-radius: 11pc;
                border:solid 1px; 
                padding: 10px;
                box-shadow: 1px 3px 3px grey ;

                &:hover{
                    background-color: rgba(148, 233, 148, 0.986);  
             
                }
            } 
        }
  
  
  
    
}

@media screen and (max-width: 768px){ 
    .header_nav{
        flex-direction: column;
    }
    .nav_lista{
        width: 100%;
        li{
            margin: 0px;
        }
    }
     
}   
@media screen and (max-width: 480px){ 
    .header_nav{
        flex-direction: column;
    }
    .nav_lista{
        width: 100%;
        li{
            margin: 0px;
        }
    } 
}   