
header {
    .header_nav{
    
        display:flex;
        align-items: center; 
        justify-content: space-between;
        padding: 1px;
        margin: 10px; 

    .img_header_tamanio {
        width: 250px;
        height:auto;
    }

     
        .nav_lista {
            display:flex;
            list-style: none;  
            justify-content: space-between;
            align-items: center;

            ul{
        
                li{
                    margin: 19px;
                    border-radius: 11pc;
                    border:solid 1px; 
                    padding: 10px;
                    &:hover{
                        background-color: rgba(148, 233, 148, 0.986);  
                 
                    }
                }                 
            }

         a{ 
             font-weight: bold;
             text-decoration: none;
            }  
        
            
        }
    }

}





